<section class="menu-navigation__wrapper color-{{ section.settings.color_scheme }}" id="section-{{ section.id }}" {{ section.shopify_attributes }}>
  <div class="menu-navigation page-width">
    {% if section.settings.link_label != blank and section.settings.link_url != blank %}
      <a class="menu-navigation__link" href="{{ section.settings.link_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
        {{ section.settings.link_label | escape }}
      </a>
    {% endif %}
  </div>
</section>

{% style %}
  .menu-navigation__wrapper {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.08);
    background: rgb(var(--color-background));
  }
  .menu-navigation {
    position: relative;
    z-index: 10;
  }
  .menu-navigation__link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: rgb(var(--color-foreground));
    transition: opacity 0.2s;
  }
  .menu-navigation__link:hover {
    opacity: 0.7;
  }
  .menu-navigation__link svg {
    width: 1.4rem;
    height: 1.4rem;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Menu Navigation",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Kies een ander menu"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      }
    ],
    "presets": [
      { "name": "Menu Navigation" }
    ],
    "enabled_on": {
      "templates": ["collection", "product", "page"]
    }
  }
{% endschema %}
